.close-button {
  position: absolute;
  border: none;
  outline: none;
  background: none;
  font-size: .8rem;
}

.close-button:hover {
  cursor: pointer;
}

.add-button {
  margin: 5px;
  background-color: #a7a4a4;
  border: none;
  border-radius: 100%;
  outline: none;
  height: 30px;
  width: 30px;
  font-size: 1.1rem;
  font-weight: bold;
}

.add-button:hover {
  cursor: pointer;
}


.modal {
  position: absolute;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: .5rem;
  background-color: #efefef;
}

.dropdown {
  border-radius: .5rem;
}
